$flatRed: #c0392b;
$flatRedAlt: #e74c3c;

$flatBlue: #004d61;
$flatBlueAlt: #348498;

$flatOrange: #ff502f;
$flatOrangeAlt: #1abc9c;

$flatBlack: #2c3e50;
$flatBlackAlt: #34495e;

$white: #FFF;
$Black: #000;