$color_1: #999;
$font_family_1: inherit;
$background_color_1: #fff;
$background_color_2: transparent;
$background_color_3: #f6f6f6;
$border_color_1: #dbdbdb;
$border_color_2: #999;
$border_color_3: #ededed;
$border_color_4: #cccccc;