// Start Footer

footer
  .footer
    .container
      h5 Footer Area

// End Footer

// Start Fixed Footer

block fixedFooter
  .fixed-footer
    ul
      li
        a(href="index.html", class="active")
          i.fas.fa-home
          span Home
      li
        a(href="tel:827738209837", title="827738209837")
          i.fas.fa-phone
          span Phone
      li.search
        a(href="") 
          i.fas.fa-search
          span Search

// End Fixed Footer