script(src="js/jquery-3.4.1.min.js")
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")
script(src="js/owl.carousel.min.js")
//- Nice Select
//- script(src='http://hernansartorio.com/jquery-nice-select/js/jquery.js')
script(src='http://hernansartorio.com/jquery-nice-select/js/jquery.nice-select.min.js')
script(src='http://hernansartorio.com/jquery-nice-select/js/fastclick.js')
script(src='http://hernansartorio.com/jquery-nice-select/js/prism.js')
//- My Script
script(src="js/scripts-min.js")
script(src="http://localhost:35729/livereload.js")