block pageTitle
    -var pageTitle = 'index';
<!DOCTYPE html>
html(lang="en")
    include layout/head
    body
        //- Start Page Container
        .page-container
            include layout/header
            .main-content
              .container
                h2 About The Library
            include layout/footer
        //- End Page Container

        include layout/footer-scripts