block pageTitle
    -var pageTitle = 'test';
<!DOCTYPE html>
html(lang="en")
    include layout/head
    body
        //- Start Page Container
        .page-container
            include layout/header
            .main-content
                h2 this is just for testing
                //- include components/states
            include layout/footer
        //- End Page Container

        include layout/footer-scripts